@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato.ttf') format('truetype');
}

html {
  min-width: 575px;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  margin: 0;
  padding: 0;
  min-width: 575px;
  font-family: 'lato';
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  height: 50px;
  position: fixed;
  width: 100%;
  text-align: center;
  justify-content: center;
  vertical-align: text-bottom;
  vertical-align: middle;
  line-height: 50px;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: large;
  width: 20%;
  color: white;
  height: 50px;
}
nav div {
  display: block;
  text-decoration: none;
  font-size: large;
  font-size: 1.2em;
  height: 50px;
  width: 100%;
}
nav div:hover {
  background-color: rgb(111, 2, 2);
}
.navPLace {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
}
img {
  width: 100%;
}
a img {
  width: 100%;
}
