/*  
Le CSS est composer de selecteur, suivi d'un bloc de déclaration où se trouve des propriétés et des valeurs
Il est possible d'ecrire le CSS dans une balise html "style" ou dans la la balise avec l'attribut "style" 
ou dans un fichier externe
*/

/* Installation d'une font : */

@font-face {
  font-family: 'oswald';

  src: url('../fonts/Oswald.ttf') format('truetype');
}

body {
  font-family: 'oswald';
  font-size: large;
}
/* Header : style pour le texte */
h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  letter-spacing: 2px;
  background-color: aquamarine;
}
h2 {
  margin: 5px;
  padding: 5px;
}
h3 {
  margin: 3px;
  padding: 3px;
}
p {
  margin: 2px;
  padding: 2px;
}
header :nth-child(4),
:nth-child(6) {
  background-color: rgb(231, 254, 255);
}
header :nth-child(4) {
  box-shadow: 10px 5px 5px rgb(28, 28, 28);
  text-shadow: 5px 5px 5px;
}

header :nth-child(6) em {
  text-transform: uppercase;
}

header :nth-child(6) strong {
  color: brown;
  position: relative;
  left: 5px;
  bottom: 5px;
}
/* Header : style pour les liens */
article a {
  text-decoration: none;
  color: brown;
  font-weight: 600;
}
article a:visited {
  text-decoration: none;
  color: #3f9619;
}
article a:hover {
  color: #5be6ff;
  text-decoration: underline wavy #3f9619;
}
